body {
   font-family: 'Courier Prime', monospace;
   font-weight: normal;
   color: white;
   font-style: normal;
   background:teal;
}

#title{
    font-size: 5rem;
    text-align: center;
    position: fixed centre;
    text-shadow: 1px 1px 1px #919191, 
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 8px 6px rgba(16, 16, 16, 0.4),
    1px 8px 6px rgba(16, 16, 16, 0.2),
    1px 8px 6px rgba(16, 16, 16, 0.2),
    1px 8px 6px rgba(16, 16, 16, 0.4);
}

#form{
    position: absolute;
    width: 30vw;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 30px;
    top: 60%;
    left: 50%;
    color: rgb(42, 83, 69);
    background-color: aquamarine;
    z-index: 3;
    text-align: center;
    box-shadow: 1px 1px 1px #919191, 
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 1px 1px #919191,
    1px 8px 6px rgba(16, 16, 16, 0.4),
    1px 8px 6px rgba(16, 16, 16, 0.2),
    1px 8px 6px rgba(16, 16, 16, 0.2),
    1px 8px 6px rgba(16, 16, 16, 0.4);
}

#form input[type="email"], #form input[type="password"]{
    background: rgb(202, 231, 236);
    margin: 30px auto;
    border-radius: 5px;
    padding: 14px 10px;
    text-align: center;
    transform: 0.25s;
}

#form input[type="email"]:focus, #form input[type="password"]:focus{
    width: 180px;
}
#form input[type="submit"]{
border-radius: 10px;
background: rgb(202, 231, 236);
}
#form input[type="submit"]:hover{
    background: white;
}

#clock{
    width: 70vh;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 17%;
    top: 65%;
    z-index: 1;
}

#clock1{
    width: 70vh;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 83%;
    top: 65%;
    z-index: 1;
}

#p1{
background: rgb(234, 241, 241);
border-radius: 15px;
padding: 3px;
padding-left: 6px;
padding-right: 6px;
}